*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgb(157, 158, 244), rgb(191, 219, 254)); /* from-indigo-500, via-indigo-200, to-indigo-700 */
    background-repeat: no-repeat;
    min-height: 100vh;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(248, 250, 252);
}

.log{
    width: 20%;
    display: flex;
}

ul{
    background: rgb(248, 250, 252);
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-right: 20px;
    justify-content: flex-end;
}

li{
    list-style: none;
    display: flex;
    
}

.headAnch{
    border-right: 2px solid rgb(130, 132, 243);
    padding-right: 5px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(130, 132, 243);
    font-weight: bold;
}

.headAnch:hover{
    color: rgb(104, 106, 240);
    transition: 0.25s;
    transform: scale(1.15);
    text-decoration: underline;
}

.logo{
    background-color: rgb(130, 132, 243);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: auto 0px auto 0px;
}

.mainContent{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.pfp{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}