*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    min-height: 100vh;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(248, 250, 252);
    -webkit-box-shadow: 10px 10px 36px -27px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 36px -27px rgba(0,0,0,0.75);
box-shadow: 10px 10px 36px -27px rgba(0,0,0,0.75);
}

.log{
    width: 20%;
    display: flex;
}

ol{
    background: rgb(248, 250, 252);
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-right: 20px;
    justify-content: flex-end;
}

.headAnchli{
    list-style: none;
    display: flex;
    
}

.headAnch{
    border-right: 2px solid rgb(130, 132, 243);
    padding-right: 5px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(130, 132, 243);
    font-weight: bold;
    list-style: none;
    display: flex;
    
}

.headAnch:hover{
    color: rgb(104, 106, 240);
    transition: 0.25s;
    transform: scale(1.20);
    text-decoration: underline;
}

.logo{
    background-color: rgb(130, 132, 243);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: auto 0px auto 0px;
}

.mainContent{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgb(115, 117, 245), rgb(191, 219, 254)); /* from-indigo-500, via-indigo-200, to-indigo-700 */
}

.pfp{
    min-height: 230px;
    min-width: 230px;
    max-height: 230px;
    max-width: 230px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid rgb(227, 227, 254);
}

.btnHolder{
    display: flex;
    gap: 10px;
    background-color: green;
    padding-bottom: 10px;
    width: 100%;
    align-items: end;
    justify-content: center;
    height: 150%;
    flex-wrap: wrap;
}

.btn{
    background-color: rgb(103, 104, 170);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(248, 250, 252);
    display: block;
    width: 130px;
    text-align: center;
    border: 3px solid rgb(227, 227, 254);
}

.btn:hover{
    background-color: rgb(227, 227, 254);
    text-decoration: underline;
    color: rgb(130, 132, 243);
    transition: 0.25s;
    transform: scale(1.2);
    border: 3px solid rgb(130, 132, 243);
}

.homeContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 450px;
    width: 450px;
    border-radius: 10px;

}


.hcTop{
    display: flex;
    height: 30%;
    flex-wrap: wrap;
    width: 100%;
}

.hc1{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hc2{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
    color: rgb(227, 227, 254);
}

.motto{
    background-color: teal;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 80%;
    align-self: flex-end;
    border-left:rgb(187, 188, 248) 5px solid;
    color: rgb(227, 227, 254);
}

#about{  
    background-image: linear-gradient( rgb(115, 117, 245), rgb(191, 219, 254));
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutHolder{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;  
    max-width: 800px;
    background-color: rgb(248, 250, 252);
    -webkit-box-shadow: 10px 10px 36px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 36px -27px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 36px -27px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.aboutTop{
    text-align: center;
    max-width: 800px;
    color: rgb(115, 117, 245);
    text-decoration: underline;
    font-size: 1rem;
}

.aboutContent{
    text-align: justify;
    text-indent: 8px;
    color: rgb(115, 117, 245);
    padding: 15px;
    font-size: 1rem;
}

html{
    scroll-behavior: smooth;
}

#work{
    background-color: violet;
    min-height: 100vh;
}

.workContent{
    text-align: justify;
    text-indent: 8px;
    color: rgb(115, 117, 245);
    padding: 15px;
    font-size: 1rem;
}

.workHolder{
    display: flex;
    flex-direction: column;
    margin: 0 auto;  
    max-width: 1200px;
    background-color: rgb(248, 250, 252);
    -webkit-box-shadow: 10px 10px 36px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 36px -27px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 36px -27px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.workTop{
    text-align: center;
    color: rgb(115, 117, 245);
    text-decoration: underline;
    font-size: 1rem;
}

.portfolio{
    display: flex;
    border: 4px solid rgb(115, 117, 245);
    border-radius: 10px;
}

.portfolioImg{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.portfolioKep{
    height: auto;
    width: 100%;
    max-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    border: 2px solid rgb(115, 117, 245);
}

.portfolioContent{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.portfolioTitle{
    width: 100%;
    border-bottom: 2px solid rgb(115, 117, 245);
    padding-right: 15px;
}

.portfolioTopics{
    width: 100%;
}

.portfolioTopics p{
    text-decoration: underline;
    font-weight: bold;
}

.portfolioLinks{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 15px;
    width: 100%;
    gap: 7px;
}

.portfolioLinks a{
    color:rgb(115, 117, 245) ;
    font-size: 1rem;
    font-weight: bold;
}

.portfolioLinks a{
    color:rgb(115, 117, 245) ;
    font-size: 1rem;
    font-weight: bold;
}

.portfolioLinks a:hover{
    color:rgb(86, 89, 246);
    transition: 0.05s;
    transform: scale(1.05);

}

@media screen and (max-width:500px) {
    .portfolio{
        flex-direction: column;
    }
}